<?xml version="1.0"?>

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="phonegap-web-template.lacoolshop.com/index.php/home" version="1.0.3.5">
    
    <name>Lacool Shop</name>
    <description>專為餐飲業者提供優質產品與服務的一個APP，透過手機或平板快速下單，簡單又方便，裡面還有超多飲品配方，讓你隨時隨地激發創意</description>
    <author href="http://www.lacoolshop.com/index.php/home" email="service@lacoolshop.com">樂酷食品股份有限公司</author>
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    <icon src="icon.png"/>
    <!-- iOS 8.0+ & IOS 7.0+ -->
    <icon src="ios/icon.png" platform="ios" width="1024" height="1024" />
    <!-- iPhone 6/ 6 Plus  -->
    <icon src="ios/icon-60@3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="ios/icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="ios/icon-76@2x.png" platform="ios" width="152" height="152" />
    <icon src="ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="ios/icon-small@2x.png" platform="ios" width="58" height="58" />
    <icon src="ios/icon-small@3x.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="ios/icon-40@2x.png" platform="ios" width="80" height="80" />
    <icon src="ios/icon-40@3x.png" platform="ios" width="120" height="120" />
    
    <!--IOS 6.1// iPhone / iPod Touch -->
    <icon src="ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="ios/icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="ios/icon-72@2x.png" platform="ios" width="144" height="144" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="ios/icon-50@2x.png" platform="ios" width="100" height="100" />
  
    <!-- https://build.phonegap.com/current-support -->
    <preference name="phonegap-version" value="cli-7.1.0" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
</widget>
